<%= form_with(model: client, class: "contents") do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex my-5 space-x-6">
    <div class="md:w-1/2">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "block rounded-md outline-none px-3 py-2 mt-2 w-full border border-gray-200" %>
    </div>
    <div class="md:w-1/2">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "block rounded-md outline-none px-3 py-2 mt-2 w-full border border-gray-200" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block rounded-md outline-none px-3 py-2 mt-2 w-full border border-gray-200" %>
  </div>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, class: "block rounded-md outline-none px-3 py-2 mt-2 w-full border border-gray-200" %>
</div>

<div class="my-5">
    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation, class: "block rounded-md outline-none px-3 py-2 mt-2 w-full border border-gray-200" %>
  </div>

  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_field :address, class: "block rounded-md outline-none px-3 py-2 mt-2 w-full border border-gray-200" %>
  </div>

  <div class="flex my-5 space-x-4 md:w-full">
  <div class="md:w-1/3">
    <%= form.label :city %>
    <%= form.text_field :city, class: "block rounded-md outline-none px-3 py-2 mt-2 w-full border border-gray-200" %>
  </div>

  <div class="md:w-1/3">
    <%= form.label :state %>
    <%= form.text_field :state, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="md:w-1/3">
    <%= form.label :zip %>
    <%= form.text_field :zip, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  </div>

  <div class="my-5">
    <%= form.label :country %>
    <%= form.text_field :country, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
