<div id="<%= dom_id order %>" class="mb-6">
  <section class="mt-1">
    <div class="border rounded-lg bg-white border-gray-200">
      <div class="flex justify-between align-baseline px-8 pt-4 leading-8 align-items-center">
        <div class="flex align-center leading-8">
          <div class="flex items-center">
            <h1 class="py-[2px] text-sm text-gray-900 tracking font-xl text-center">
              Order#<%= order.order_number%>
            </h1>
          </div>
          <div class="flex items-center">
            <%= render "shared/status", order: order %>
          </div>
        </div>
        <p class="text-gray-600 text-sm py-[2px]">Order placed <span class="font-medium text-gray-800"><%= order.created_at.strftime("%b, %d %Y") %></span></p>
      </div>
      
      <div class="grid grid-cols-12 gap-8 p-8">
        <div class="col-span-5 flex">
          <div class="w-40 h-40 static pb-0">
            <%= image_tag("maid_ph.jpg", class: "aspect-square rounded object-cover h-full object-center max-w-full") %>
          </div>
          <div class="ml-6">
            <h3 class="text-gray-900 font-medium text-base leading-7 mb-2">Maid details</h3>
            <p class="font-medium text-base mt-2 leading-7 text-blue-700"><%= link_to order.maid.name, order.maid %></p>
            <h3 class="text-gray-600 font-medium text-base mt-1"><%= number_to_currency(order.maid.hourly_rate) %> 
              <span class="tracking-wide">/hr</span>
            </h3>
            <p class="mt-3"><%= render "shared/stars", percent: 55 if order.completed? %></p>
          </div>  
        </div>

        <div class="col-span-7">
          <dl class="text-base grid gap-6 grid-cols-2">
            <div>
              <dt class="text-gray-900 font-medium text-base leading-7">Client address</dt>
              <dd class="text-gray-600 mt-2">
                <span class="text-blue-700 font-medium text-base leading-7 text-base mt-2"><%= link_to order.client.name, order.client %></span>
                <span class="text-gray-500 text-base block tracking-tight"><%= order.client.format_address %></span>
                <span class="text-gray-500 text-base block">
                  <%= "#{order.client.city.titleize}, #{order.client.state} #{order.client.zip}" %>
                </span>
                <span class="text-gray-600 text-base block mt-2">Pay Type: <%= order.formatted_pay_type if order.pay_type %></span>
              </dd>
            </div> 
            <div>
              <dt class="text-gray-900 font-medium text-base leading-7">Timing details</dt>
              <dd class="text-gray-600 mt-2 leading-7">
                <span class="text-gray-500 text-base mt-2"><%= order.schedule_date.strftime("%b, %d %Y") %></span>
                <span class="text-gray-500 text-base block tracking-tight"><%= order.schedule_date.strftime("%A") %></span>
                <span class="text-gray-500 text-base block tracking-tight">
                  <%= order.time_from.strftime("%I:%M%p -") %><%= order.time_to.strftime("%I:%M%p") %>
                </span>
              </dd>
            </div> 
          </dl>
        </div>
      </div>

      <% if order.completed? %>
      <div class="flex justify-between px-8 py-4">
          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="text-green-500 w-x6 h-6"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
            </svg>
            <p class="text-base ml-2">Completed</p>
          </div>
          <div>
            <p class="text-gray-800 font-bold tracking-wide text-baseline">
              Amount paid: <span class="text-indigo-600 font-bold tracking-wide ml-2"><%= number_to_currency(order.find_total) %></span>
            </p>
          </div>
      </div>
      <% end %>
      <div class="flex px-6 pb-6 justify-end">
        <%= render "shared/buttons", order: order %>
      </div>
    </div>
  </section>
</div>


