<%= form_with(model: maid, class: "contents") do |form| %>
  <% if maid.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(maid.errors.count, "error") %> prohibited this maid from being saved:</h2>

      <ul>
        <% maid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if Maid.exists?(maid.id) %>
  <div class="mt-6 my-5">
    <%= form.label :main_image, "Profile image" %>
    <%= form.file_field :main_image , class: "block rounded-md outline-none border-gray-200 py-2 w-full" %>
  </div>
  <% end %>

  <div class="flex my-5 space-x-4 md:w-full">
    <div class="md:w-1/2">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "block rounded-md outline-none border-gray-200 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="md:w-1/2">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "block rounded-md border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, class: "block border-gray-200 rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation, class: "block border-gray-200 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_field :address, class: "block border-gray-200 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex my-5 space-x-4 md:w-full">
    <div class="md:w-1/3">
      <%= form.label :city %>
      <%= form.text_field :city, class: "block border-gray-200 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="md:w-1/3">
      <%= form.label :state %>
      <%= form.text_field :state, class: "block border-gray-200 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="md:w-1/3">
      <%= form.label :zip %>
      <%= form.text_field :zip, class: "block border-gray-200 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :hourly_rate %>
    <%= form.number_field :hourly_rate, class: "block border-gray-200 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="max-w-xs flex text-center">
    <% if maid.new_record? %>
      <%= form.submit "Create Account", class: "rounded-lg py-3 px-5 bg-blue-600 text-white w-full font-medium cursor-pointer" %>
      <%= link_to "Cancel", root_path, class: "rounded-lg py-3 px-5 bg-gray-400 text-white ml-2 w-full font-medium cursor-pointer" %>
    <% else %>
      <%= form.submit "Update Account", class: "rounded-lg py-3 px-5 bg-blue-600 text-white w-full font-medium cursor-pointer" %>
      <%= link_to "Cancel", maid_path, class: "rounded-lg py-3 px-5 bg-gray-400 text-white ml-2 w-full font-medium cursor-pointer" %>
    <% end %>
  </div>
<% end %>
