<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-green-700">
      <%#= image_tag("logo-t.png", alt: "MaidHire Logo", class: "w-40 h-20")%>
      <h1 class="font-bold text-4xl text-gray-300 p-6">MAIDHIRE</h1>
    </header>
    

      <main class="container mx-auto mt-28 px-5 flex">
        <%= yield %>
      </main>
  </body>
</html>
